<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :title, class:"standard-color" %>
        <%= form.text_field :title, id: :article_title, required: true, class:"form-control" %>
      </div><!-- end form-group -->
      <div class="form-group">
        <%= form.label :header, class:"standard-color" %>
        <%= form.text_area :header, id: :article_header, required: true, class:"form-control" %>
      </div><!-- end form-group -->
      <div class="form-group">
        <%= form.label :body, class:"standard-color" %>
        <%= form.text_area :body, id: :article_body, required: true, class:"form-control",  rows: 5 %>
      </div><!-- end form-group -->
      <div class="form-group">
        <%= form.submit :Submit, class:"btn btn-default" %>
      </div><!-- end form-group -->
    </div>
  </div><!-- end row -->

<% end %>
