<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :first_name, class:"standard-color" %>
        <%= form.text_field :first_name, id: :user_first_name, class:"form-control" %>
      </div><!-- end form-group -->
      <div class="form-group">
        <%= form.label :last_name, class:"standard-color" %>
        <%= form.text_field :last_name, id: :user_last_name, class:"form-control" %>
      </div><!-- end form-group -->
      <div class="form-group">
        <%= form.label :alias_name, class:"standard-color" %>
        <%= form.text_field :alias_name, id: :user_alias_name, class:"form-control" %>
      </div><!-- end form-group -->
      <div class="form-group">
        <%= form.submit :Submit, class:"btn btn-default" %>
      </div><!-- end form-group -->
    </div><!-- end col-md-4 -->
  </div><!-- end row -->

<% end %>
