<p id="notice"><%= notice %></p>

<h1 class="center">User details</h1>
</br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <p><strong>Alias name:</strong> <%= @user.alias_name %></p>
    <p><strong>First name:</strong> <%= @user.first_name %></p>
    <p><strong>Last name:</strong> <%= @user.last_name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back', users_path %>
  </div><!-- end col-md-4 -->
</div><!-- end row -->
