<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>


    <nav>
      <ul class="nav nav-pills">
        <li role="presentation"><%= link_to root_path do %><p>Home</p><%end%></li>
        <li role="presentation"><%= link_to simple_pages_about_path do %><p>About</p><%end%></li>
        <li role="presentation"><%= link_to simple_pages_contact_path do %><p>Contact</p><%end%></li>
      </ul>
    </nav>

    <div class="content">
      <%= yield %>
    </div><!--end content-->

    <footer>
      &copy; 2018 CaesarBlogBerlin
    </footer>
  </body>
</html>
